<header class="bg-slate-100 shadow-md">
    <div class="container mx-auto flex justify-between items-center p-4">
      <div class="text-white font-bold text-xl">
        <a href="/" class="">
            <%= image_tag "logo.png", alt: "Decoded Rails Newsletter Logo", class: "w-[80px] rounded rounded-lg hover:opacity-80" %>
        </a>
      </div>
      <nav>
        <ul class="flex space-x-4">
          <li><a href="/" class="text-white hover:underline">Home</a></li>
          <li><a href="/about" class="text-white hover:underline">About</a></li>
          <li><a href="/contact" class="text-white hover:underline">Contact</a></li>
        </ul>
      </nav>
    </div>
</header>
